
.icon-left{
  position: absolute;
  top : 15px;
  left : 15px;
}
.icon-right{
  position: absolute;
  bottom : 15px;
  right : 15px;
}
.text {
  display : flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
  color : rgb(18, 28, 4);
}
.Winter{
  background-color: rgb(119, 174, 223);
}
.Summer{
  background-color: rgb(242, 216, 168);
}